.createexercise_content { 
    display: grid;
    place-items: center;

    font-family: sans-serif;
}

.createexercise_form {
     display: flex;
     flex-direction: column;
     width: 65%;
}

.createexercise_div input, select {
     width: 95%;
     height: 25px;
     font-size: large;
     box-sizing: border-box;
}
.createexercise_date input {
    height: 25px;    
    font-size: large;
}

.createexercise_div label {
     font-size: large;
}

.createexercise_div {
    margin-top: 5px;
    margin-bottom: 7px ;
}

.createexercise_div_button input {
     height: 35px;
     width: 150px;
     margin-top: 5px;
     color: #ffffff;
     font-size: large;
     background-color: rgb(0, 102, 255);

     border-radius: 4px;
     border: none;

}